<div class="container">
    <div class="my-3">
        <h2 style="text-align:center;margin:50px auto;" >.... Of From Event ....</h2>
        <br>
        <strong>Ex :- 1 (OF)</strong>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="card">
                    <div class="card-header">
                        User 1                    
                    </div>
                    <div class="card-body">
                        <ul id="elContainer1"></ul>
                    </div>
                </div> -->
                <p class="bg-light py-2 px-3 border rounded"><strong>Date: </strong>of ('Keyur','Viku','Pathu')</p>
                <hr>
                <ul>
                    <li>Keyur</li>
                    <li>Viku</li>
                    <li>Pathu</li>
                </ul>
            </div>
        </div>
    </div>
</div>